<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= content_for(:title) || "Myapp" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/dseg/css/dseg.css">
    <style>
      .seven-segment {
        font-family: 'DSEG7Classic-Bold', sans-serif;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
